<form data-abide novalidate id="recover-password-form">
  <div class="row text-center centered">
    <div class="small-12 columns">
      <fieldset class="fieldset">
        <legend>{{ 'SEND_PASSWORD_RESET' | translate }}</legend>
        <input  type="email"
                required
                placeholder="email"
                pattern="email"
                name="email"
                [(ngModel)]="model.email">
        <span class="form-error">
          {{'EMAIL_REQUIRED' | translate}}
        </span>
        <div class="row">

          <div class="small-12 columns">
            <button class="button small" type="submit" value="Submit">
              {{'SEND_PASSWORD_RESET' | translate}}
            </button>
          </div>

        </div>
      </fieldset>

    </div>
  </div>

</form>
