<div class="row dishes-block">
  <div class="small-12 medium-12 large-12 columns  small-centered">
    <div class="text-center">
      <h6>{{'SELECT_DISHES' | translate}}</h6>
    </div>
    <br />
    <div *ngFor="let dish of dishes; let i = index">

      <div class="row">
        <div class="small-6 medium-6 large-6 columns">
          <img *ngIf="dish.imageUrl" [src]="dish.imageUrl"/>
          <img *ngIf="!dish.imageUrl" src="./app/web/assets/img/foodLogoBlack.png" alt="Food Logo" />

        </div>
        <div class="small-6 medium-6 large-6 columns">
          <div class="text-center">
            {{dish.name}}
          </div>
          <br />

          <div class="row">
            <div class="small-6 medium-6 large-6 columns text-center">
              <div class="padding-top">
                {{'AVAILABILITY' | translate}}
              </div>
            </div>
            <div class="small-6 medium-6 large-6 columns text-center">
              <div class="switch dish-switch">
                <input class="switch-input"
                      [attr.id]="dish._id"
                      [(ngModel)]="dish.selected"
                      (ngModelChange)="toogleDetails(dish.id)"
                      type="checkbox"
                      name="portionSwitch">
                      <label class="switch-paddle success" [attr.for]="dish._id">
                        <span class="switch-active" aria-hidden="true">Yes</span>
                        <span class="switch-inactive" aria-hidden="true">No</span>
                      </label>
              </div>
              <button *ngIf="deleteMeals" class="button tiny alert" (click)="removeMeal(i)">
                remove meal
              </button>
            </div>
          </div>
          <br />

          <div>
            {{dish.description}}
          </div>
        </div>

        <br />
      </div>
      <br />

      <div [attr.id]="dish._id + 'details'" [ngStyle]="{'display': dish.selected ? '' : 'none'}">
        <div class="row">
          <div class="small-1 medium-1 large-1 columns text-center">
            {{ 'SIZE' | translate }}
          </div>
          <div class="small-3 medium-3 large-3 columns text-center">
            {{ 'AVAILABILITY' | translate }}
          </div>
          <div class="small-4 medium-4 large-4 columns text-center">
            {{ 'DESCRIPTION' | translate }}
          </div>
          <div class="small-4 medium-4 large-4 columns text-center">
            {{ 'PRICE' | translate }}
          </div>
        </div>
        <br />

        <div class="row" *ngFor="let portion of dish.portions">
          <div class="small-1 medium-1 large-1 columns text-center">
            <div class="padding-top">
              {{portion.size}}
            </div>
          </div>
          <div class="small-3 medium-3 large-3 columns text-center">
            <div class="switch tiny dish-switch">
              <input class="switch-input"
                    [attr.id]="portion._id"
                    [(ngModel)]="portion.selected"
                    type="checkbox"
                    [disabled]="!dish.selected"
                    name="portionSwitch">
                    <label class="switch-paddle success" [attr.for]="portion._id">
                      <span class="switch-active" aria-hidden="true">Yes</span>
                      <span class="switch-inactive" aria-hidden="true">No</span>
                    </label>
            </div>
          </div>
          <div class="small-4 medium-4 large-4 columns">
            {{portion.description}}
          </div>
          <div class="small-4 medium-4 large-4 columns">
            <div class="input-group">
              <span class="input-group-label" [innerHtml]="currentCurrency.postfix "></span>
              <input class="input-group-field" [(ngModel)]="portion.price" [disabled]="!portion.selected" type="number"/>
            </div>

          </div>

          <br />
        </div>
      </div>
      <br />

    </div>
  </div>
</div>
