<div class="row" *ngIf="currentUser.type == 'admin'">
  <div class="small-6 columns">
    <h3>All registered users:</h3>
    <ul>
      <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)">Delete</a>
      </li>
    </ul>
  </div>
  <div class="small-6 columns">
    <h3>All Places</h3>
    <ul>
      <li *ngFor="let place of places">
        {{place.name}}
        - <a (click)="gotoDetail(place)">Open</a>
      </li>
    </ul>
  </div>
</div>

<div class="row" *ngIf="currentUser.type == 'default'">
  <div class="small-10 columns small-centered">
  <h3>Your Places</h3>
  <ul>
    <li *ngFor="let userPlace of userPlaces">
      {{userPlace.name}}
      - <a (click)="gotoDetail(userPlace)">Open</a>
    </li>
  </ul>
  </div>
</div>

<div class="row">
  <div class="small-6 columns">
    <search type="users"></search>
  </div>
  <div class="small-6 columns">
    <search type="places"></search>
  </div>
</div>
