<div class="row" *ngIf="currentUser.type == 'admin'">
  <div class="small-6 columns">
    <h3>All registered users:</h3>
    <ul>
      <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="gotoDetail('user', user)">Open</a>
        - <a (click)="openConfirmPopUp(user, 'User')">Delete</a>
      </li>
    </ul>
  </div>
  <div class="small-6 columns">
    <h3>All Places</h3>
    <ul>
      <li *ngFor="let place of places">
        {{place.name}}
        - <a (click)="gotoDetail('place', place)">Open</a>
        - <a (click)="openConfirmPopUp(place, 'Place')">Delete</a>
      </li>
    </ul>
  </div>
</div>

<div class="row" *ngIf="currentUser.type == 'default'">
  <div class="small-10 columns small-centered">
  <h3>Your Places</h3>
  <ul>
    <li *ngFor="let userPlace of userPlaces">
      {{userPlace.name}}
      - <a (click)="gotoDetail('place', userPlace)">Open</a>
    </li>
  </ul>
  </div>
</div>

<div class="row">
  <div class="small-6 columns">
    <search type="users"></search>
  </div>
  <div class="small-6 columns">
    <search type="places"></search>
  </div>
</div>


<div class="reveal" id="deleteModal" data-reveal>
  <h3>Delete {{deleteType}}?</h3>
  <p class="lead" *ngIf="selectedItem">{{ selectedItem.name }}</p>
  <button class="close-button"
          data-close aria-label="Close modal"
          type="button">
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="row">
    <div class="small-6 columns text-center">
      <button class="button small "data-close>cancel</button>
    </div>
    <div class="small-6 columns text-center">
      <button class="button small alert" data-close (click)="deleteItem(selectedItem.id)">delete</button>
    </div>
  </div>

</div>
