<div class="text-center">
  <h2>Dashboard</h2>
</div>

<div class="row" *ngIf="currentUser.type == 'admin'">

  <ul class="sub-menu menu">
    <li *ngFor="let tab of tabs">
      <button [ngClass]="{'hollow' : !tab.active}"
              class="sub-menu-btn button" (click)="selectTab(tab.name)">{{tab.name}}</button>
    </li>
  </ul>

<br />
<div class="small-10 medium-8 columns small-centered">

  <div class="small-12 columns" *ngIf="selectedTab === 'Overview'">
    <div class="row">
      <div class="small-12 medium-4 columns">
        <div class="card">
          <div class="card-section text-center icons-large">
            <i class="fi-torsos"></i>
          </div>
          <div class="card-section text-center">
            <p>
              <a href="javascript:;" (click)="selectTab('Users')">
                {{ 'USERS_REGISTERED' | translate }} - {{users.length}}
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="small-12 medium-4 columns">
        <div class="card">
          <div class="card-section text-center icons-large">
            <i class="fi-home"></i>
          </div>
          <div class="card-section text-center">
            <p>
              <a href="javascript:;" (click)="selectTab('Places')">
                {{ 'PLACES_REGISTERED' | translate }} - {{places.length}}
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="small-12 medium-4 columns">
        <div class="card">
          <div class="card-section text-center icons-large">
            <i class="fi-social-apple"></i>
          </div>
          <div class="card-section text-center">
            <p>
              <a href="javascript:;" (click)="selectTab('Meals')">
                {{ 'TOTAL_MEALS' | translate }} - {{meals.length}}
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="small-12 columns" *ngIf="selectedTab === 'Users'">
    <h3>All registered users:
      <button class="button tiny vertical-center-button" (click)="gotToPage('/admin/add-user')">Add User</button>
    </h3>
    <ul>
      <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="gotoDetail('user', user)">Open</a>
        - <a (click)="openConfirmPopUp(user, 'User')">Delete</a>
      </li>
    </ul>
    <search type="users"></search>
  </div>

  <div class="small-12 columns" *ngIf="selectedTab === 'Places'">
    <h3>All Places:
      <button class="button tiny vertical-center-button" (click)="gotToPage('/join-us/part1')">Add Place</button>
    </h3>
    <ul>
      <li *ngFor="let place of places">
        {{place.name}}
        - <a (click)="gotoDetail('place', place)">Open</a>
        - <a (click)="openConfirmPopUp(place, 'Place')">Delete</a>
      </li>
    </ul>
    <search type="places"></search>
  </div>

  <div class="small-12 columns" *ngIf="selectedTab === 'Meals'">
    <h3>All Meals:
      <button class="button tiny vertical-center-button" (click)="gotToPage('/admin/add-meal')">Add Meal</button>
    </h3>
    <ul>
      <li *ngFor="let meal of meals">
        {{meal.name}}
        - <a (click)="gotoDetail('meal', meal)">Open</a>
        - <a (click)="openConfirmPopUp(meal, 'Meal')">Delete</a>
      </li>
    </ul>
    <search type="meals"></search>
  </div>
</div>




</div>

<div class="row" *ngIf="currentUser.type == 'default'">
  <div class="small-10 columns small-centered">
  <h3>Your Places</h3>
  <ul>
    <li *ngFor="let userPlace of userPlaces">
      {{userPlace.name}}
      - <a (click)="gotoDetail('place', userPlace)">Open</a>
    </li>
  </ul>
  </div>
</div>



<div class="reveal" id="deleteModal" data-reveal>
  <h3>Delete {{deleteType}}?</h3>
  <p class="lead" *ngIf="selectedItem">{{ selectedItem.name }}</p>
  <button class="close-button"
          data-close aria-label="Close modal"
          type="button">
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="row">
    <div class="small-6 columns text-center">
      <button class="button small "data-close>cancel</button>
    </div>
    <div class="small-6 columns text-center">
      <button class="button small alert" data-close (click)="deleteItem(selectedItem._id)">delete</button>
    </div>
  </div>

</div>
