# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

/node_modules
/typings
npm-debug.log
**/*.DS_Store

/dist/*
/dist/app/*
/dist/app/web/*
/dist/app/web/assets/*
/dist/app/web/assets/img/*
!/dist/app/web/assets/img/meals


# MSVS project files
/obj
*.csproj
*.user
