.mobile-ofc {
    background: #121212;
    font-size: 0.8125rem;
    font-weight: bold;

    a {
        height: 45px;
        line-height: 45px;
        color: #e6e6e6;
        padding-top: 0;
        padding-bottom: 0;
    }
}
