.mobile-ofc {
    background: lightgray;
    font-size: 0.8125rem;
    font-weight: bold;

    a {
        height: 45px;
        line-height: 45px;
        color: black;
        padding-top: 0;
        padding-bottom: 0;
    }
}
