.google-button {
    background-size: contain;
    color: transparent;
    background-image: url("dist/app/web/assets/img/googleLogin.png");
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
}

.button {
    &.sending {
        &:before {
            top: 3.5em;
            left: 40%;
        }
    }
}
