<top-menu></top-menu>
<header class="header">
  <h1 class="headline">{{'CONTUCT_US' | translate }}<small> {{ 'APP_NAME' | translate }}</small></h1>
</header>

<alert></alert>

<div class="row">
  <div class="small-10 medium-8 large-6 small-centered columns">
    <br />
    <h5 class="text-center">{{ 'SEND_US_MESSAGE' | translate }}</h5>
    <div class="row">


        <form data-abide novalidate id="contactForm">
          <label>
            {{ 'FULL_NAME' | translate }}
            <input  type="text"
                    required
                    placeholder="name"
                    name="fullName"
                    [(ngModel)]="message.fullName">
          </label>

          <label>
            {{ 'EMAIL' | translate }}
            <input  type="email"
                    required
                    placeholder="email"
                    pattern="email"
                    name="email"
                    [(ngModel)]="message.email">
          </label>

          <label>
            {{ 'YOUR_MESSAGE' | translate }}
            <textarea rows="4" name="text" required placeholder="your message" [(ngModel)]="message.message"></textarea>
          </label>

          <br />
          <div style="padding: inherit;" id="contactFormCapcha"></div>
          <br />

          <div class="text-center">
            <input type="submit" class="button" [value]="sendMessageText">
          </div>
        </form>
        <br />
        <hr />
        <div class="row text-center">
          <p>
            or
          </p>
          <p>
            Call us: +491778561682
          </p>
        </div>

    </div>
  </div>
</div>

<elp-footer></elp-footer>
