<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

    <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas data-position="left">
      <button class="close-button" aria-label="Close menu" type="button" data-close="">
        <span aria-hidden="true">×</span>
      </button>
      <ul class="mobile-ofc vertical menu">
        <li><a href="javascript:;">{{'ABOUT_US' | translate }}</a></li>
        <li><a href="javascript:;">{{'ABOUT_APP' | translate }}</a></li>
        <li><a href="javascript:;">{{'SUBMIT_APP' | translate }}</a></li>
      </ul>
      <translations-list
        [ul-class]="'small expanded button-group mob-lang-menu'"
        [li-class]="'button expanded hollow warning'">
      </translations-list>

    </div>

    <div class="off-canvas-content" data-off-canvas-content>

      <div class="top-bar-container" data-sticky-container>
        <top-menu></top-menu>
      </div>

      <div>
        <video autoplay  poster="./dist/app/web/assets/img/food_main.jpg" id="bgvid" muted loop>
          <source src="./dist/app/web/assets/vid/food_main.webm" type="video/webm">
          <source src="./dist/app/web/assets/vid/food_main.mp4" type="video/mp4">
        </video>
      </div>
    </div>

  </div>
</div>
