video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('./dist/app/web/assets/img/food_main.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.top-bar {
  background: black;
  color: white;
  ul {
    background: black;
    li {
      a {
        color: white;
      }
    }
  }
}
