video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('./dist/app/web/assets/img/food_main.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

.mobile-ofc {
    background: #121212;
    font-size: 0.8125rem;
    font-weight: bold;
    a {
      height: 45px;
      line-height: 45px;
      color: #e6e6e6;
      padding-top: 0;
      padding-bottom: 0;
    }
}
