<div>
  <top-menu></top-menu>

  <header class="home-center-block sites-large">
    <div class="row">
      <div class="medium-6 medium-centered columns">
        <h1 class="main-header">{{ 'APP_NAME' | translate }}</h1>
        <h2 class="subheader">{{ 'SUBMIT_AND_GET' | translate }}</h2>
        <br/>
        <a href="javascript:;" class="large button hide-for-small-only store-bnt apple">
          App on Apple Store
        </a>
        <a href="javascript:;" class="small button show-for-small-only store-bnt apple">
          App on Apple Store
        </a>
        <a href="javascript:;" class="large button hide-for-small-only store-bnt google">
          App on Play Store
        </a>
        <a href="javascript:;" class="small button show-for-small-only store-bnt google">
          App on Play Store
        </a>
        <br />
        <a routerLink="/about-us" class="button radius expand learn-more">
          {{'LEARN_MORE' | translate }}
        </a>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <a class="button social-icons facebook">facebook</a>
        <a class="button social-icons instagram">instagram</a>
        <a class="button social-icons twitter">twitter</a>
        <div id="watch">
          <section id="stargazers" class="sites">
            <a id="stars" class="sites stars" href="javascript:;">{{'CONTUCT_US' | translate }}</a>
            <a routerLink="/contact">@EatLikePro</a>
          </section>
        </div>
      </div>
    </div>
  </header>

  <div>
    <div class="video-cover"></div>
    <video autoplay  poster="./app/web/assets/img/food_main.jpg" id="bgvid" muted loop>
      <source src="./app/web/assets/vid/food_main.webm" type="video/webm">
      <source src="./app/web/assets/vid/food_main.mp4" type="video/mp4">
    </video>
  </div>
</div>
