
<div class="row text-center" *ngIf="place">
  <div class="small-10 small-centered columns ">
    <h4>{{place.name}} details</h4>
    <span><label>id: </label>{{place.id}}</span>

    <hr />
    <form calss="text-center" *ngIf="place">
      <div class="row">
        <div class="small-12 large-8 small-centered">

          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">{{'NAME' | translate}}</label>
            </div>
            <div class="small-9 columns">
              <input type="text" name="placeName" [(ngModel)]="place.name" placeholder="name"/>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">Owner</label>
            </div>
            <div class="small-9 columns">
              <input type="text" name="userFirstName"
                    [(ngModel)]="place.user.firstName"
                    disabled
                    placeholder="first name"/>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">Owner email:</label>
            </div>
            <div class="small-9 columns">
              <input type="text" name="userEmail" [(ngModel)]="place.user.email" disabled placeholder="email"/>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">{{'WEBSITE' | translate}}</label>
            </div>
            <div class="small-9 columns">
              <input type="text" name="website" [(ngModel)]="place.website" placeholder="website"/>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">  {{'ADRESS' | translate}}</label>
            </div>
            <div class="small-9 columns">
              <input type="text" name="fullAddress" [(ngModel)]="place.fullAddress" placeholder="full address"/>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">{{'PHONE' | translate}}</label>
            </div>
            <div class="small-9 columns">
              <input type="text" name="phoneNumber" [(ngModel)]="place.international_phone_number" placeholder="phone number"/>
            </div>
          </div>
        </div>
      </div>
    </form>

    <hr />

    <payment-options [data]="place.payment_options"></payment-options>

    <br />
    <hr />

    <working-hours [data]="place.elp_opening_hours" ></working-hours>

    <hr />

    <currency-selector [data]="place.currency"></currency-selector>

    <button (click)="save()" class="button">Save</button>
    <button (click)="goBack()" class="button">Back</button>
  </div>
</div>

<div class="reveal" id="editPlaceResultModal" data-reveal>
  <h4 *ngIf="place">Place {{place.name}} edited!</h4>

  <button class="close-button"
          data-close aria-label="Close modal"
          type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <hr />

  <div class="row text-center">
    <button class="button small "data-close>Done!</button>
  </div>
</div>
