<div *ngIf="place" class="row">
  <div class="small-10 columns">
  <h2>{{place.name}} details</h2>
  <div><label>id: </label>{{place.id}}</div>
  <form>
    <label>name: </label>
    <input name="placeName" [(ngModel)]="place.name" placeholder="name"/>
    <label>owner: </label>
    <input name="userFirstName"[(ngModel)]="place.user.firstName" disabled placeholder="first name"/>
    <label>owner email: </label>
    <input name="userEmail" [(ngModel)]="place.user.email" disabled placeholder="email"/>
    <label>place website: </label>
    <input name="website" [(ngModel)]="place.website" disabled placeholder="website"/>
    <label>place full address: </label>
    <input name="fullAddress" [(ngModel)]="place.fullAddress" placeholder="full address"/>
  </form>
  <br />
  <button (click)="save()" class="button">Save</button>
  <button (click)="goBack()" class="button">Back</button>
  </div>
</div>
