
<div class="row text-center" *ngIf="place">
  <div class="small-10 large-8 small-centered columns ">
    <h4>{{place.name}} details</h4>

    <hr />
    <form calss="text-center" *ngIf="place">
      <div class="row">
        <div class="small-12 large-8 small-centered">

          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">{{'NAME' | translate}}</label>
            </div>
            <div class="small-9 columns">
              <input type="text" name="placeName" [(ngModel)]="place.name" placeholder="name"/>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">Owner</label>
            </div>
            <div class="small-9 columns">
              <input type="text" name="userFirstName"
                    [(ngModel)]="place._creator.firstName"
                    disabled
                    placeholder="first name"/>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">Owner email:</label>
            </div>
            <div class="small-9 columns">
              <input type="text" name="userEmail" [(ngModel)]="place._creator.email" disabled placeholder="email"/>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">{{'WEBSITE' | translate}}</label>
            </div>
            <div class="small-9 columns">
              <input type="text" name="website" [(ngModel)]="place.website" placeholder="website"/>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">  {{'ADRESS' | translate}}</label>
            </div>
            <div class="small-9 columns">
              <input type="text" name="fullAddress" [(ngModel)]="place.fullAddress" placeholder="full address"/>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">{{'PHONE' | translate}}</label>
            </div>
            <div class="small-9 columns">
              <input type="text" name="phoneNumber" [(ngModel)]="place.phone" placeholder="phone number"/>
            </div>
          </div>
        </div>
      </div>
    </form>

    <hr />

    <payment-options [data]="place.paymentOptions"></payment-options>
    <br />
    <hr />
    <working-hours [data]="place.elpOpeningHours" ></working-hours>
    <hr />
    <currency-selector [data]="place.currency"></currency-selector>
    <hr />
    <dishes-selector *ngIf="meals" [dishes]="meals" [currency]=place.currency [deleteMeals]="true">
    </dishes-selector>
    <add-meals *ngIf="meals" [existingMeals]="meals"></add-meals>
    <hr />

    <div class="row">
      <div class="small-6 medium-6 large-6 columns  small-centered  text-center">
        <h6>{{'DELIVERY_AVAILABLE' | translate}}</h6>
        <div class="switch tiny">
          <input class="switch-input"
                id="deliveryAvailable"
                [(ngModel)]="place.deliveryAvailable"
                type="checkbox"
                name="deliverySwitch">
                <label class="switch-paddle success" for="deliveryAvailable">
                  <span class="switch-active" aria-hidden="true">Yes</span>
                  <span class="switch-inactive" aria-hidden="true">No</span>
                </label>
        </div>
        <h6>{{'TAKEAWAY_AVAILABLE' | translate}}</h6>
        <div class="switch tiny">
          <input class="switch-input"
                id="takeAwaySwitch"
                [(ngModel)]="place.takeAwayAvailable"
                type="checkbox"
                name="takeAwaySwitch">
                <label class="switch-paddle success" for="takeAwaySwitch">
                  <span class="switch-active" aria-hidden="true">Yes</span>
                  <span class="switch-inactive" aria-hidden="true">No</span>
                </label>
        </div>
      </div>
    </div>

    <hr />
    <button (click)="save()" class="button">Save</button>
    <button (click)="goBack()" class="button">Back</button>
  </div>
</div>

<div class="large reveal" id="editPlaceResultModal" data-reveal>
  <h4 *ngIf="place">Place {{place.name}} edited!</h4>

  <button class="close-button"
          data-close aria-label="Close modal"
          type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <hr />

  <div class="row text-center">
    <button class="button small "data-close>Done!</button>
  </div>
</div>
