<div class="elp-footer-bottom">
  <div class="row">
  <div class="medium-4 medium-push-8 columns">
    <ul class="home-social">
    <li><a href="javascript:;"><i class="fi-social-facebook"></i></a></li>
    <li><a href="javascript:;"><i class="fi-social-twitter"></i></a></li>
    <li><a href="javascript:;"><i class="fi-social-instagram"></i></a></li>
    </ul>
  </div>
  <div class="medium-8 medium-pull-4 columns">
    <a href="http://www.elplikepro.com" class="elp-logo regular">
      <img src="dist/app/web/assets/img/foodLogoWhite.png" alt="Food Logo" />
    </a>
    <ul class="elp-links">
      <li><a routerLink="/home">{{'HOME' | translate }}</a></li>
      <li><a routerLink="/about-us">{{'ABOUT_APP' | translate }}</a></li>
      <li><a routerLink="/contact">{{'CONTUCT_US' | translate }}</a></li>
      <li><a routerLink="/login-register">{{'LOGIN_SIGNUP' | translate }}</a></li>
      <li><a routerLink="/join-us/part1">{{'JOIN_US' | translate }}</a></li>
    </ul>
    <p class="copyright">© 2016 EatLikePro, Inc. All rights reserved.</p>
  </div>
  </div>
</div>
