
<div class="row">
  <div class="small=10 columns">
    <br />
    <h2>{{'MY_PLACES' | translate }}
      <button routerLink="/join-us/part1" class="button small vertical-center-button">
        {{ 'ADD_NEW_PLACE' | translate }}
      </button>
    </h2>
    <div class="row">
      <div class="small-6 columns">
        <ol class="places menu vertical">
          <li *ngFor="let place of places">
              <a [class.selected]="place === selectedPlace" (click)="onSelect(place)">
                {{place.name}}
              </a>
          </li>

        </ol>
      </div>
      <div class="small-6 columns">
        <div *ngIf="selectedPlace">
          <h5>Name: {{selectedPlace.name }}</h5>
          <h6>Owner: {{selectedPlace.user.firstName+' '+selectedPlace.user.lastName}}</h6>
          <h6>Address: {{selectedPlace.fullAddress}}</h6>
          <button class="button small" (click)="gotoDetail(selectedPlace)">Edit</button>
          <span class="delete button alert small" (click)="openConfirmPopUp()">delete</span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="reveal" id="deleteModal" data-reveal>
  <h3>Delete Place?</h3>
  <p class="lead" *ngIf="selectedPlace">{{ selectedPlace.name }}</p>
  <button class="close-button"
          data-close aria-label="Close modal"
          type="button">
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="row">
    <div class="small-6 columns text-center">
      <button class="button small "data-close>cancel</button>
    </div>
    <div class="small-6 columns text-center">
      <button class="button small alert" data-close (click)="delete(selectedPlace)">delete</button>
    </div>
  </div>

</div>
