<form data-abide novalidate #f="ngForm" id="login-form">
  <div class="row">
    <div class="small-12 columns">
      <fieldset class="fieldset">
        <legend>{{'EMAIL' | translate}} {{'LOGIN' | translate}}</legend>
          <label for="email">{{'EMAIL' | translate}}
            <input type="Email"
                    name="email"
                    [(ngModel)]="model.email"
                    required pattern="email">
            <span class="form-error">
              {{'EMAIL_REQUIRED' | translate}}
            </span>
          </label>
          <label for="password">{{'PASSWORD' | translate}}
            <input type="password"
                    class="form-control"
                    name="password"
                    [(ngModel)]="model.password"
                    required />
            <span class="form-error">
              {{'PASSWORD_REQUIRED' | translate}}
            </span>
          </label>
      </fieldset>
    </div>
  </div>

  <div class="row">
    <fieldset class="large-12 columns">
      <button class="button expanded success" type="submit" value="Submit">
        {{'LOGIN' | translate}}
      </button>
    </fieldset>
  </div>
</form>
