

.social-button {
  background-size: contain;
  color: transparent;
  .fb {
    background-image: url(dist/app/web/assets/img/facebookLogin.png);

  }
  .google {
    background-image: url(dist/app/web/assets/img/googleLogin.png);
  }
}
