<div class="row">
  <div class="small-6 columns">
    <facebook-login></facebook-login>
  </div>
  <div class="small-6 columns">
    GOOGLE
  </div>
</div>

<form data-abide novalidate #f="ngForm">
  <div class="row">
    <div class="small-12 columns">
      <fieldset class="fieldset">
        <legend>{{'EMAIL' | translate}} {{'LOGIN' | translate}}</legend>
          <label for="email">{{'EMAIL' | translate}}
            <input type="Email"
                    name="email"
                    [(ngModel)]="model.email"
                    #username="ngModel"
                    required pattern="email">
            <span class="form-error">
              {{'EMAIL_REQUIRED' | translate}}
            </span>
          </label>
          <label for="password">{{'PASSWORD' | translate}}
            <input type="password"
                    class="form-control"
                    name="password"
                    [(ngModel)]="model.password"
                    #username="ngModel"
                    required />
            <span class="form-error">
              {{'PASSWORD_REQUIRED' | translate}}
            </span>
          </label>
      </fieldset>
    </div>
  </div>

  <div class="row">
    <fieldset class="large-12 columns">
      <button class="button expanded success" type="submit" value="Submit">
        {{'LOGIN' | translate}}
      </button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </fieldset>
  </div>
</form>
