<div class="row">
  <div class="medium-12 large-12 medium-centered columns login-register-container">
    <div class="row">
      <div class="small-12 column text-center">
        <div class="row">
          <h5>Point your place on the map</h5>
        </div>
        <div class="video-container">

          <div class="row">

            <div class=" small-12 large-4 columns">
              <select id="country">
                <option value="au">Australia</option>
                <option value="br">Brazil</option>
                <option value="ca">Canada</option>
                <option value="fr">France</option>
                <option value="de" selected>Germany</option>
                <option value="mx">Mexico</option>
                <option value="nz">New Zealand</option>
                <option value="it">Italy</option>
                <option value="za">South Africa</option>
                <option value="es">Spain</option>
                <option value="pt">Portugal</option>
                <option value="us">U.S.A.</option>
                <option value="uk">United Kingdom</option>
              </select>
            </div>

            <div class=" small-12 large-4 columns">
              <input id="autocomplete" placeholder="Enter a city" type="text" />
            </div>

            <div class=" small-12 large-4 columns">
              <input id="pac-input" class="controls" type="text"placeholder="Enter a location"/>
            </div>

          </div>


          <div class="row">
            <div id="map"></div>
          </div>

          <div class="row text-center" *ngIf="choosenPlace">
            <h4>Your Place:</h4>
            <p>
              name: <span>{{ choosenPlace.name }}</span>

              adress: <span>{{ choosenPlace.formatted_address }}</span>

              phone: <span>{{ choosenPlace.international_phone_number }}</span>

            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
