<div *ngIf="!showSaveSucess">
  <div class="row header-title  text-center">
    <h5>{{'DISHES' | translate }}</h5>
  </div>

  <currency-selector  [data]="currentCurrency"></currency-selector>

  <div class="row dishes-block">
    <div class="small-12 medium-12 large-12 columns  small-centered">
      <div class="text-center">
        <h6>{{'SELECT_DISHES' | translate}}</h6>
      </div>
      <br />
      <div *ngFor="let dish of dishes">

        <div class="row">
          <div class="small-6 medium-6 large-6 columns">
            <img [src]="dish.imageUrl"/>
          </div>
          <div class="small-6 medium-6 large-6 columns">
            <div class="text-center">
              {{dish.name}}
            </div>
            <br />

            <div class="row">
              <div class="small-6 medium-6 large-6 columns text-center">
                <div class="padding-top">
                  {{'AVAILABILITY' | translate}}
                </div>
              </div>
              <div class="small-6 medium-6 large-6 columns text-center">
                <div class="switch dish-switch">
                  <input class="switch-input"
                        [attr.id]="dish.id"
                        [(ngModel)]="dish.selected"
                        (ngModelChange)="toogleDetails(dish.id)"
                        type="checkbox"
                        name="positionSwitch">
                        <label class="switch-paddle success" [attr.for]="dish.id">
                          <span class="switch-active" aria-hidden="true">Yes</span>
                          <span class="switch-inactive" aria-hidden="true">No</span>
                        </label>
                </div>
              </div>
            </div>
            <br />

            <div>
              {{dish.description}}
            </div>
          </div>

          <br />
        </div>
        <br />

        <div [attr.id]="dish.id + 'details'" style="display:none;">
          <div class="row">
            <div class="small-1 medium-1 large-1 columns text-center">
              {{ 'SIZE' | translate }}
            </div>
            <div class="small-3 medium-3 large-3 columns text-center">
              {{ 'AVAILABILITY' | translate }}
            </div>
            <div class="small-4 medium-4 large-4 columns text-center">
              {{ 'DESCRIPTION' | translate }}
            </div>
            <div class="small-4 medium-4 large-4 columns text-center">
              {{ 'PRICE' | translate }}
            </div>
          </div>
          <br />

          <div class="row" *ngFor="let position of dish.postions">
            <div class="small-1 medium-1 large-1 columns text-center">
              <div class="padding-top">
                {{position.size}}
              </div>
            </div>
            <div class="small-3 medium-3 large-3 columns text-center">
              <div class="switch tiny dish-switch">
                <input class="switch-input"
                      [attr.id]="position.id"
                      [(ngModel)]="position.selected"
                      type="checkbox"
                      [disabled]="!dish.selected"
                      name="positionSwitch">
                      <label class="switch-paddle success" [attr.for]="position.id">
                        <span class="switch-active" aria-hidden="true">Yes</span>
                        <span class="switch-inactive" aria-hidden="true">No</span>
                      </label>
              </div>
            </div>
            <div class="small-4 medium-4 large-4 columns">
              {{position.description}}
            </div>
            <div class="small-4 medium-4 large-4 columns">
              <div class="input-group">
                <span class="input-group-label" [innerHtml]="currentCurrency.postfix "></span>
                <input class="input-group-field" [(ngModel)]="position.price" [disabled]="!position.selected" type="number"/>
              </div>

            </div>

            <br />
          </div>
        </div>
        <br />

      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-6 medium-6 large-6 columns  small-centered  text-center">
      <h6>{{'DELIVERY_AVAILABLE' | translate}}</h6>
      <div class="switch tiny">
        <input class="switch-input"
              id="deliveryAvailable"
              [(ngModel)]="deliveryAvailable"
              type="checkbox"
              name="deliverySwitch">
              <label class="switch-paddle success" for="deliveryAvailable">
                <span class="switch-active" aria-hidden="true">Yes</span>
                <span class="switch-inactive" aria-hidden="true">No</span>
              </label>
      </div>
      <h6>{{'TAKEAWAY_AVAILABLE' | translate}}</h6>
      <div class="switch tiny">
        <input class="switch-input"
              id="takeAwaySwitch"
              [(ngModel)]="takeAwayAvailable"
              type="checkbox"
              name="takeAwaySwitch">
              <label class="switch-paddle success" for="takeAwaySwitch">
                <span class="switch-active" aria-hidden="true">Yes</span>
                <span class="switch-inactive" aria-hidden="true">No</span>
              </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-6 columns text-center">
      <button (click)="router.navigate(['/join-us', 'part2'])" class="button warning">
        {{ 'BACK' | translate}}
      </button>
    </div>
    <div class="small-6 columns text-center">
      <button id="finishAddPlace" (click)="finish()" class="button">{{ 'SUBMIT_PLACE' | translate}}</button>
    </div>
  </div>
</div>

<div *ngIf="showSaveSucess " class="text-center">
  <br />
  <h4>{{'PLACE_ADDED' | translate}}</h4>
  <h6>{{saveResultPlace.name}}</h6>
  <h6>{{saveResultPlace.vicinity}}</h6>
  <h6>{{saveResultPlace.international_phone_number}}</h6>
  <h6>{{saveResultPlace.website}}</h6>

  <div class="row">
    <div class="small-6 columns text-center">
      <button  routerLink="/home" class="button success">
        {{ 'HOME' | translate}}
      </button>
    </div>
    <div class="small-6 columns text-center">
      <button (click)="goToEditPlace()" class="button warning">{{ 'EDIT' | translate}}</button>
    </div>
  </div>

</div>
