<div class="row header-title  text-center">
  <h5>{{'PAYMENT_OPTIONS' | translate }}</h5>
</div>

<div class="row">
  <fieldset class="small-3 medium-3 large-3 columns text-center"
    *ngFor="let option of paymentOptions">
      <legend>{{option.name}}</legend>
      <div class="switch tiny payment-switch">
        <input class="switch-input"
              [attr.id]="option.name"
              [(ngModel)]="option.selected"
              type="checkbox"
              name="paymentSwitch">
              <label class="switch-paddle success" [attr.for]="option.name">
                <img [src]="option.image" />
                <span class="switch-active" aria-hidden="true">Yes</span>
                <span class="switch-inactive" aria-hidden="true">No</span>
              </label>
      </div>

    </fieldset>
</div>

<working-hours [data]="workingDays" ></working-hours>

<div class="row">
  <div class="small-6 columns text-center">
    <button (click)="router.navigate(['/join-us', 'part1'])" class="button warning">
      {{ 'BACK' | translate}}
    </button>
  </div>
  <div class="small-6 columns text-center">
    <button (click)="goToStep3()" class="button">{{ 'STEP_3' | translate}}</button>
  </div>
</div>
