<div *ngIf="!showSaveSucess">
  <div class="row header-title  text-center">
    <h5>{{'DISHES' | translate }}</h5>
  </div>

  <currency-selector  [data]="currentCurrency"></currency-selector>

  <dishes-selector [dishes]="dishes" [currency]="currentCurrency"></dishes-selector>

  <div class="row">
    <div class="small-6 medium-6 large-6 columns  small-centered  text-center">
      <h6>{{'DELIVERY_AVAILABLE' | translate}}</h6>
      <div class="switch tiny">
        <input class="switch-input"
              id="deliveryAvailable"
              [(ngModel)]="deliveryAvailable"
              type="checkbox"
              name="deliverySwitch">
              <label class="switch-paddle success" for="deliveryAvailable">
                <span class="switch-active" aria-hidden="true">Yes</span>
                <span class="switch-inactive" aria-hidden="true">No</span>
              </label>
      </div>
      <h6>{{'TAKEAWAY_AVAILABLE' | translate}}</h6>
      <div class="switch tiny">
        <input class="switch-input"
              id="takeAwaySwitch"
              [(ngModel)]="takeAwayAvailable"
              type="checkbox"
              name="takeAwaySwitch">
              <label class="switch-paddle success" for="takeAwaySwitch">
                <span class="switch-active" aria-hidden="true">Yes</span>
                <span class="switch-inactive" aria-hidden="true">No</span>
              </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-6 columns text-center">
      <button (click)="router.navigate(['/join-us', 'part2'])" class="button warning">
        {{ 'BACK' | translate}}
      </button>
    </div>
    <div class="small-6 columns text-center">
      <button id="finishAddPlace" (click)="finish()" class="button">{{ 'SUBMIT_PLACE' | translate}}</button>
    </div>
  </div>
</div>

<div *ngIf="showSaveSucess " class="text-center">
  <br />
  <h4>{{'PLACE_ADDED' | translate}}</h4>
  <h6>{{saveResultPlace.name}}</h6>
  <h6>{{saveResultPlace.vicinity}}</h6>
  <h6>{{saveResultPlace.international_phone_number}}</h6>
  <h6>{{saveResultPlace.website}}</h6>

  <div class="row">
    <div class="small-6 columns text-center">
      <button  routerLink="/home" class="button success">
        {{ 'HOME' | translate}}
      </button>
    </div>
    <div class="small-6 columns text-center">
      <button (click)="goToEditPlace()" class="button warning">{{ 'EDIT' | translate}}</button>
    </div>
  </div>

</div>
