.header-title {
    padding: 25px 0;
}

.header-hours-title {
    padding: 40px 0;
}

.slider-box {
    padding: 20px;
}

.elp-tooltip {
    &:before {
        left: 4px;
    }

    &:after {
        left: 8px;
    }
}
