<div class="row">
  <div  class="small-10 medium-8 small-centered columns">

    <div *ngIf="user" class="row">
      <br />
      <div class="small-3 columns text-center">
        <h3>{{user.firstName}} details</h3>
        <div *ngIf="!user.image" class="text-center no-image-icon">
          <i class="fi-torso"></i>
        </div>
        <img *ngIf="user.image" class="thumbnail" [src]="user.image" alt="User Image">
      </div>
      <div class="small-9 columns">
        <p class="icons-large">{{'REGISTERED_WITH' | translate}}: <i [ngClass]="{
          'fi-social-facebook': user.registrationType==='facebook',
          'fi-social-google-plus': user.registrationType==='google',
          'fi-mail': user.registrationType==='email'
        }"></i></p>
        <label>{{'FIRST_NAME' | translate}}
          <input type="text" [(ngModel)]="user.firstName" placeholder="firstName">
        </label>
        <label>{{'LAST_NAME' | translate}}
          <input type="text" [(ngModel)]="user.lastName" placeholder="lastName">
        </label>
        <label>{{'EMAIL' | translate}}
          <input type="email" [(ngModel)]="user.email" placeholder="email">
        </label>
        <label>{{'REGISTERED_ON' | translate}}
          <input type="text" [(ngModel)]="user.registrationTime" disabled placeholder="email">
        </label>
        <fieldset *ngIf="!currentUser"class="large-6 columns">
          <legend>{{'ACCOUNT_TYPE' | translate}}</legend>
          <input type="radio" name="admin" [(ngModel)]="user.accountType" id="admin"[checked]="user.accountType === 'admin'" value="admin">
          <label for="admin">Admin</label>
          <input type="radio" name="default" [(ngModel)]="user.accountType" id="default"[checked]="user.accountType === 'default'" value="default">
          <label for="default">Default</label>
        </fieldset>

        <p><a id="toogleChangePass">{{'CHANGE_PASS' | translate}}</a></p>

        <form data-abide novalidate #f="ngForm" id="reset-password-form">
          <div class="row">
            <div class="small-12 columns">
              <fieldset class="fieldset">

                  <label for="oldPassword">{{'OLD_PASSWORD' | translate}}
                    <input type="password"
                            class="form-control"
                            name="oldPassword"
                            [(ngModel)]="resetPass.password"
                            #username="ngModel"
                            pattern="alpha_numeric"
                            required
                            id="oldPassword"/>
                    <span class="form-error">
                      {{'OLD_PASSWORD_REQUIRED' | translate}}
                    </span>
                  </label>
                  <label for="password">{{'PASSWORD' | translate}}
                    <input type="password"
                            class="form-control"
                            name="password"
                            [(ngModel)]="resetPass.newpass"
                            #username="ngModel"
                            pattern="alpha_numeric"
                            required
                            id="password"/>
                    <span class="form-error">
                      {{'PASSWORD_REQUIRED' | translate}}
                    </span>
                  </label>
                  <label for="passwordConfirm">{{'REPEAT' | translate}} {{'PASSWORD' | translate}}
                    <input type="password"
                          name="passwordConfirm"
                          required
                          pattern="alpha_numeric"
                          data-equalto="password">
                    <span class="form-error">
                      {{'PASSWORD_MATCH_REQUIRED' | translate}}
                    </span>
                  </label>
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="text-center">
              <button class="button small success" type="submit" value="Submit">
                {{'CHANGE_PASS' | translate}}
              </button>
            </div>
          </div>
        </form>

      </div>

    </div>



    <br />
    <div class="row text-center">
      <button (click)="save()" class="button">{{'SAVE' | translate}}</button>
      <button (click)="goBack()" class="button">{{'BACK' | translate}}</button>
    </div>

  </div>
</div>

<div class="large reveal" id="editUserResultModal" data-reveal>
  <h4 *ngIf="user">User {{user.firstName}} edited!</h4>

  <button class="close-button"
          data-close aria-label="Close modal"
          type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <hr />

  <div class="row text-center">
    <button class="button small "data-close>Done!</button>
  </div>
</div>

<div class="large reveal" id="editPasswordResultModal" data-reveal>
  <h4 *ngIf="user">Password changed!</h4>

  <button class="close-button"
          data-close aria-label="Close modal"
          type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <hr />

  <div class="row text-center">
    <button class="button small "data-close>Done!</button>
  </div>
</div>
