<div style="width: 100%;" data-options="anchor: page; marginTop: 0; stickyOn: small;">
  <div class="top-bar">
    <nav class="row column">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">
            <a routerLink="/">
              <img src="dist/app/web/assets/img/foodLogoWhite.png" alt="Food Logo" />
              {{ 'APP_NAME' | translate }}</a>
          </li>

          <li class="has-dropdown">
            <a class="show-for-medium small hollow dropdown button"
                type="button" data-toggle="lang_drop_down">
              {{ selectedLang }}
            </a>
            <div class="dropdown-pane bottom" id="lang_drop_down" data-dropdown data-auto-focus="true"
              data-close-on-click="true">
              <translations-list
                [ul-class]="'submenu main-menu-lang menu vertical'"
                [li-class]="''">
              </translations-list>
            </div>
          </li>

        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li class="show-for-medium" >
            <a href="javascript:;" *ngIf="currentUser">
              {{currentUser.firstName}}
              <span class="label logout-label" (click)="logout()">logout</span>
            </a>
          </li>
          <li class="show-for-medium">
            <a href="javascript:;" *ngIf="currentUser" routerLink="/admin">
              {{'ADMIN' | translate }}
            </a>
          </li>
          <li class="show-for-medium"><a routerLink="/about-us" >{{'ABOUT_APP' | translate }}</a></li>
          <li class="show-for-medium"><a href="javascript:;">{{'CONTUCT_US' | translate }}</a></li>
          <li class="show-for-medium" *ngIf="!currentUser">
            <a routerLink="/login-register">{{'LOGIN_SIGNUP' | translate }}</a>
          </li>
          <li class="show-for-medium"><a class="button" routerLink="/join-us/part1">{{'JOIN_US' | translate }}</a></li>
          <li class="title-bar" class="hide-for-medium" data-hide-for="medium">
            <a>
              <button class="menu-icon" type="button" data-toggle data-open="offCanvasLeft"></button>
            </a>
          </li>
          <li class="hide-for-medium">
            <span class="title-bar-title site-name-mob" data-hide-for="medium">
              {{ 'APP_NAME' | translate }}
            </span>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
