<div style="width: 100%;" data-options="anchor: page; marginTop: 0; stickyOn: small;">
  <div class="top-bar">
    <nav class="row column">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text show-for-large">
            <a routerLink="/">
              <img src="./app/web/assets/img/foodLogoWhite.png" alt="Food Logo" />
              {{ 'APP_NAME' | translate }}</a>
          </li>

          <li class="has-dropdown">
            <a class="show-for-large small hollow dropdown button"
                type="button" data-toggle="lang_drop_down">
              {{ selectedLang }}
            </a>
            <div class="dropdown-pane bottom" id="lang_drop_down" data-dropdown data-auto-focus="true"
              data-close-on-click="true">
              <translations-list
                [ul-class]="'submenu main-menu-lang menu vertical'"
                [li-class]="''">
              </translations-list>
            </div>
          </li>

        </ul>
      </div>
      <div class="top-bar-left">
        <ul class="menu">
          <li class="title-bar" class="hide-for-large" data-hide-for="large">
            <a>
              <button class="menu-icon" type="button" data-toggle data-open="offCanvasAdminLeft"></button>
            </a>
          </li>
          <li class="hide-for-large">
            <span class="title-bar-title site-name-mob" data-hide-for="large">
              {{ 'APP_NAME' | translate }}
            </span>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li class="show-for-large" >
            <a href="javascript:;" *ngIf="currentUser">
              {{currentUser.firstName}}
              <span class="label logout-label" (click)="logout()">logout</span>
            </a>
          </li>
          <li class="show-for-large">
            <a *ngIf="currentUser" routerLink="/home">
              {{'WEBSITE' | translate }}
            </a>
          </li>
          <li *ngIf="currentUser.type == 'admin'" class="show-for-large">
            <a routerLink="/admin/dashboard" >{{'DASHBOARD' | translate }}</a>
          </li>
          <li class="show-for-large">
            <a routerLink="/admin/my-places">{{'MY_PLACES' | translate }}</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
