<top-menu></top-menu>
<header class="header">
  <h1 class="headline">{{'JOIN_US' | translate }}<small> {{ 'APP_NAME' | translate }}</small></h1>
  <ul class="header-subnav">
    <li><a href="javascript:;"
          (click)="login=true; register=false"
          [ngClass]="{ 'is-active': login }">
          {{'LOGIN'| translate}}
        </a>
    </li>
    <li><a href="javascript:;"
          (click)="login=false; register=true"
          [ngClass]="{ 'is-active': register }">
          {{'REGISTER'| translate}}
        </a>
    </li>
  </ul>
</header>
<alert></alert>

<div class="row">
  <div class="small-12 columns">
    <ul class="breadcrumbs reset-pass-breadcrumbs" *ngIf="showResetPassword">
       <li><a href="javascript:;" (click)="showResetPassword=false">{{ 'BACK' | translate }}</a></li>
    </ul>
  </div>
</div>

<recover-password *ngIf="showResetPassword"></recover-password>

<div class="row" *ngIf="!showResetPassword">
  <div class="medium-6 large-6 medium-centered columns login-register-container">
    <div class="row">
      <div class="small-6 columns social-login-box">
        <facebook-login></facebook-login>
      </div>
      <div class="small-6 columns social-login-box">
        <google-login></google-login>
      </div>
    </div>

    <login-form *ngIf="login && !register && !showContinueButton"></login-form>
    <register-form *ngIf="register && !login && !showContinueButton"></register-form>

    <div class="text-center password-recover-link">
      <a href="javascript:;" (click)="showResetPassword=true">
        Forgot password?
      </a>
    </div>

    <div class="row" *ngIf="showContinueButton">
      <div class="small-12 columns text-center centered">
        <hr />
        <h3>{{'THANK_YOU_FOR_REGISTERING' | translate}}</h3>
        <button class="button warning" routerLink="/join-us/part1">
            Continue <i class="fi-arrow-right"></i>
        </button>
        <hr />
      </div>
    </div>

  </div>
</div>
<quick-contact-form></quick-contact-form>
<elp-footer></elp-footer>
