<top-menu></top-menu>
<header class="header">
  <h1 class="headline">{{'ABOUT_APP' | translate }}<small> {{ 'APP_NAME' | translate }}</small></h1>
  <ul class="header-subnav">
    <li><a href="javascript:;"
          (click)="users=true; places=false"
          [ngClass]="{ 'is-active': users }">
          {{'FOR_USERS'| translate}}
        </a>
    </li>
    <li><a href="javascript:;"
          (click)="users=false; places=true"
          [ngClass]="{ 'is-active': places }">
          {{'FOR_PLACES'| translate}}
        </a>
    </li>
  </ul>
</header>

<alert></alert>

<div class="row">
  <div class="medium-8 large-8 medium-centered columns">

    <div *ngIf="users">
      <br />
      <hr />
      <br />
      <p>
        <b>EatLikePro</b> was established in 2016 to make it easy to live a healthy lifestyle.
        Our goal is to allow you to maintain a healthy diet without the hassle of cooking
        and meal prepping at home, or when when you are in a trip.
      </p>
      <p>
        There are lots of places that can prepare meals you need,
        our Application will show you theese places on the map.
      </p>
      <p>
        EatLikePro Provides a variety of healthy meals, so you can serach for places
        that can prepare choosen meal.
      </p>
      <p>
        Application will allow you to to configure
        your own custom meals to fit your macro-nutrient goals, define
        how much carbs, proteins and fats you need, after you are done we will send your configured meal
        to all places around, and all of places that are able to prepare it to you will be shown in the
        App.
      </p>
      <p>
        EatLikePro Application is Available on <a href="">AppStore</a> and <a href="">Play Store</a>.
        Download EatLikePro App absolutely free today, and we will search places where you can eat for you!
      </p>
      <br />
      <hr />
      <br />
    </div>

    <div *ngIf="places">
      <br />
      <hr />
      <br />
      <p>
        <b>EatLikePro</b> was established in 2016 to make it easy to live a healthy lifestyle.
        Our goal is to allow people to maintain a healthy diet without the hassle of cooking
        and meal prepping at home, or when when they are in a trip.
      </p>
      <p>
        <a routerLink="/join-us/part1">Join us</a> and get more customers from <b>EatLikePro</b>
        Application.
      </p>
      <p>
        Steps needed to become a part of EatLikePro program:
      </p>
        <ol>
          <li>
            Register with Google, Facebook or Email <a routerLink="/login-register">Here</a>.
          </li>
          <li>
            Add your place <a routerLink="/join-us/part1">Here</a> - select your place on the map,
            submit your business hours, payment options and select meals from our list that your
            place can prepare.
          </li>
          <li>
            You are on track! Our manager will review your place and contact your for details if needed.
            If no more details needed you will receive a success registration email.
          </li>
        </ol>
        <br />
        <hr />
        <br />
    </div>

  </div>
</div>

<quick-contact-form></quick-contact-form>
<elp-footer></elp-footer>
