<div class="quick-contact">
  <div class="row full-width">
    <div class="medium-8 large-8 small-12 medium-centered columns">
      <h3>{{'CONTUCT_US' | translate}}</h3>
      <p>
        {{'CONTACT_US_QUICK_MSG' | translate}}
      </p>
      <p *ngIf="success">
        <i class="fi-check"></i> Thank you we Will contact you soon!
      </p>
      <p *ngIf="error">
        <i class="fi-x"></i> Sorry something went wrong
      </p>
      <form data-abide novalidate class="input-group" id="quickEmail">
        <input  class="input-group-field"
                type="email"
                required
                placeholder="email"
                pattern="email"
                name="email"
                [(ngModel)]="model.email">
        <div class="input-group-button">
          <input type="submit" class="button" [value]="getInTouch">
        </div>
      </form>
      <hr />
      <p>
        or
      </p>
      <p>
        Call us: +491778561682
      </p>
    </div>
  </div>
</div>
